.menu-icon{
    font-size:1.8em;
    color: #2D1D1F;
}
.menu-button{
    float:center;
    background-color: inherit!important;
    border:none!important;
    border: solid transparent;
    color: #2D1D1F;
    
    
}
.navbar-background{
    background: #2D1D1F;
}

.active{
    font-weight:bold;
}